{{ define "header" }}<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="{{ html .Site.Other.Author }}">
  <meta name="keywords" content="{{ html .Site.Other.Keywords }}">
  <meta name="description" content="David Thomas's website.">

  <title>{{ if .Title }}{{ .FullTitle ": " }} | {{ end }}{{ .Site.Other.Title }}</title>

  <link rel="icon" type="image/vnd.microsoft.icon" href="{{ .Rel "favicon.ico" }}" />
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ .Rel "favicon.ico" }}" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ .Rel "style/flat.css" }}">

  <link rel="alternate" type="application/atom+xml" title="{{ html .Site.Other.Title }} feed" href="{{ .Rel "blog.atom" }}">
</head>
<body{{ if .Section }} id="{{ .AsIdent ( .SectionAtDepth 0 ) }}"{{ end }}>

  <div id="header">
    <h1><i class="fa fa-truck-monster"></i> <a href="{{ .Rel "/" }}">DaveSpace</a></h1>
  </div>

  <div id="nav">
    {{ template "nav-section" . }}
    {{ template "nav-categories" . }}
    {{ template "nav-tags" . }}

    {{ template "about" . }}
  </div>
{{ end }}

{{ define "nav-section" }}
{{ if .Section }}
<h1>{{ .SectionName " &gt; <br/>" }}</h1>
<ul class="fa-ul">
  {{ range .Site.Pages.ChildrenInSection .GetSection }}
  <li><i class="fa-li {{ if .Is $.Url }}fa fa-circle{{ else}}far fa-circle{{ end }}"></i> <a href="{{ $.Rel .Url }}">{{ .Title }}</a></li>
  {{ end }}
</ul>
{{ else }}
<h1>Recent Posts</h1>
<ul class="fa-ul">
  {{ with .Site.Pages.Children "blog/" }}
  {{ range .Slice 0 5 }}
  <li><i class="fa-li fa fa-bookmark"></i> <a href="{{ $.Rel .Url }}">{{ .Title }}</a></li>
  {{ end }}
  {{ end }}
</ul>
<ul class="fa-ul">
  <li><i class="fa-li fa fa-rss"></i> <a href="{{ .Rel "blog.atom" }}">Recent posts</a></li>
  <li><i class="fa-li fa fa-rss"></i> <a href="{{ .Rel "blog-all.atom" }}">All posts</a></li>
</ul>
{{ end }}
{{ end }}

{{ define "nav-categories" }}
<h1>Categories</h1>
<ul class="fa-ul">
  <li><i class="fa-li fa fa-chevron-circle-right"></i> <a href="{{ .Rel "/arm/" }}">ARM</a></li>
  <li><i class="fa-li fa fa-chevron-circle-right"></i> <a href="{{ .Rel "/doodles/" }}">Doodles</a></li>
  <li><i class="fa-li fa fa-chevron-circle-right"></i> <a href="{{ .Rel "/projects/" }}">Projects</a></li>
  <li><i class="fa-li fa fa-chevron-circle-right"></i> <a href="{{ .Rel "/python/" }}">Python</a></li>
  <li><i class="fa-li fa fa-chevron-circle-right"></i> <a href="{{ .Rel "/risc.os/" }}">RISC&nbsp;OS</a></li>
</ul>
{{ end }}

{{ define "nav-tags" }}
<h1>Tags</h1>
<p>{{ range .Site.Pages.Children "tags/" }}<a href="{{ $.Rel .Url }}">{{ .Title }}</a> {{ end }}</p>
{{ end }}


{{ define "about" }}
<h1>About me</h1>
<ul class="fa-ul">
  <li><i class="fa-li fa fa-male"></i> David Thomas</li>
  <li><i class="fa-li fa fa-wrench"></i> Software Engineer</li>
  <li><i class="fa-li fa fa-location-arrow"></i> Glasgow, Scotland</li>
</ul>

<h2>Contact</h2>
<ul class="fa-ul">
  <li><i class="fa-li fa fa-envelope"></i> Email<br/> <a href="mailto:dave@davespace.co.uk">dave@davespace.co.uk</a></li>
  <li><i class="fa-li fab fa-twitter"></i> Twitter<br/> <a href="https://twitter.com/bagospanners">@bagospanners</a></li>
  <li><i class="fa-li fa fa-users"></i> IRC<br/> <em>spanners</em> on <a href="http://freenode.net/">Freenode</a></li>
</ul>

<h2>Tasty Links</h2>
<ul class="fa-ul">
  <li><i class="fa-li fab fa-github"></i> <a href="https://github.com/dpt">dpt on GitHub</a><br/>
  – my projects</li>
  <li><i class="fa-li fab fa-twitter"></i> <a href="https://twitter.com/bagospannersurl">@bagospannersurl</a><br/>
  – interesting links</li>
</ul>
{{ end }}


{{ define "page" }}
{{ template "header" . }}
<!-- start page -->
{{ .Content }}
<!-- end page -->
{{ template "footer" . }}
{{ end }}


{{ define "post" }}
<!-- start post -->
<article>
  <header>
    <!-- start post header -->
    <h1>{{ template "iconforpostpage" . }} {{ .FullTitle " > " }}</h1>
    {{ template "meta" . }}
    <!-- end post header -->
  </header>

  {{/* These comments are used by index.html &co. to locate content to extract. */}}
  <!-- start post content -->
  <section class="content">
    {{ .Content }}
  </section>
  <!-- end post content -->

  {{ template "flip" . }}
</article>
<!-- end post -->
{{ end }}


{{ define "date" }}<time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ .Format "02 January 2006" }}</time>{{ end }}


{{ define "iconforpage"     }}<i class="fa fa-{{ if .Other.Icon }}{{ .Other.Icon }}{{ else }}bookmark{{ end }}"></i>{{ end }}
{{ define "iconforlist"     }}<i class="fa-li fa fa-{{ if .Other.Icon }}{{ .Other.Icon }}{{ else }}chevron-circle-right{{ end }}"></i>{{ end }}

{{ define "iconforpostpage" }}<i class="fa fa-{{ if .Other.Icon }}{{ .Other.Icon }}{{ else }}cog{{ end }}"></i>{{ end }}

{{ define "iconfortagpage"  }}<i class="fa fa-{{ if .Other.Icon }}{{ .Other.Icon }}{{ else }}tags{{ end }}"></i>{{ end }}
{{ define "iconfortaglist"  }}<i class="fa-li fa fa-{{ if .Other.Icon }}{{ .Other.Icon }}{{ else }}tag{{ end }}"></i>{{ end }}


{{ define "tag" }}
<h2>{{ template "iconfortagpage" }} Pages tagged with “{{ .Title }}”</h2>
{{/* Note significant whitespace - placing end marker on next line would cause spurious paragraphs to be emitted by markdown. */}}
<ul class="fa-ul">
  {{ range .Site.Pages.WithTag .Title }}
  <li>{{ template "iconfortaglist" . }} {{ template "date" .Date }} – <a href="{{ $.Rel .Url }}">{{ .FullTitle ": " }}</a></li>
  {{ end }}
</ul>
{{ end }}


{{ define "meta" }}
<!-- start meta -->
<div class="meta">
  by <span class="author">{{ html .Site.Other.Author }}</span> on {{ template "date" .Date }} &mdash;
  <ul>
    {{ range $i, $t := .Tags }}<li><i class="fa fa-tag"></i> <a href="{{ $.Rel (printf "/tags/%s.html" $t) }}">{{ $t }}</a></li>
{{ end }}
  </ul>
</div>
<!-- end meta -->
{{ end }}


{{ define "comment" }}
<section id="comments">
  <h2>Comments</h2>
  <a class="muut" href="https://muut.com/i/davespace/comments:{{ .AsIdent ( .FullTitle "-" ) }}">Real-time discussions right on your site</a>
  <script src="//cdn.muut.com/1/moot.min.js"></script>
</section>
{{ end }}


{{ define "flip" }}
<!-- start flip -->
{{ if or .Other.Previous .Other.Next }}
<div class="flip">
  <div class="previous">
    {{ if .Other.Previous }}<i class="fa fa-arrow-alt-circle-left"></i> Previous topic: <a href="{{ .Other.Previous }}.html"> {{ template "titleofprev" . }}</a>{{ end }}
  </div>
  <div class="next">
    {{ if .Other.Next }}<i class="fa fa-arrow-alt-circle-right"></i> Next topic: <a href="{{ .Other.Next }}.html">{{ template "titleofnext" . }}</a>{{ end }}
  </div>
</div>
{{ end }}
<!-- end flip -->
{{ end }}

{{/* Ugh. Because there's no equality operator I have to use UrlMatches and feed it a regexp concatenated using printf. There must be a better way than this. */}}
{{/* urlmatches gets multiple matches here for 'index'... */}}

{{ define "titleofprev" }}
{{ range .Site.Pages.Children "arm/" }}
  {{ if .UrlMatches (printf "/%s\\.html" $.Other.Previous) }}
  {{ .Title }}
  {{ end }}
{{ end }}
{{ end }}

{{ define "titleofnext" }}
{{ range .Site.Pages.Children "arm/" }}
  {{ if .UrlMatches (printf "/%s\\.html" $.Other.Next) }}
  {{ .Title }}
  {{ end }}
{{ end }}
{{ end }}


{{ define "allarmpages" }}
<ul>
{{ range .Site.Pages.Children "arm/" }}
  {{ if .UrlMatches ".*\\.html" }}
  <li>{{ .Title }}</li>
  {{ end }}
{{ end }}
</ul>
{{ end }}


{{ define "footer" }}
  <div id="footer">
    {{ html .Site.Other.Copyright }}<br/>
    Built using <i class="fab fa-github"></i> <a href="https://github.com/piranha/gostatic">gostatic</a> and <i class="fab fa-font-awesome-flag"></i> <a href="http://fontawesome.io/">Font Awesome</a>
  </div>
</body>
</html>
{{ end }}

