body#www-davespace-co-uk{font:1em/1.5 "Palatino Linotype",Palatino,"Times New Roman",Times,serif;}
#news .item{text-indent:0;}
ul.links{text-align:left;}
ul.links li{text-align:left;text-transform:lowercase;}
dt{font-weight:bolder;}
dd{font-size:smaller;}
h1,h2,h3{text-indent:-1000em;}
a:link,a:visited,a:active{text-decoration:none;}
a:hover{text-decoration:underline;}
