body#www-davespace-co-uk{color:#000;background-color:#ffc;background-image:url(opummu.png);}
#middle{border-left:1px dotted #630;}
#right{border-left:1px dotted #630;background:#ffc url(paperedge.png) repeat-y right top;}
#logo h1#heading{background:url(logo.gif) no-repeat top left;}
#news h2.heading{background:url(news.gif) no-repeat top left;}
#news .item{border-left:1px dotted #ffc080;}
#stylesheets h2.heading{background:url(stylesheets.png) no-repeat top left;}
#links h2.heading{background:url(links.gif) no-repeat top left;}
#contact h2.heading{background:url(contact.gif) no-repeat top left;}
#apps h2.heading{background:url(apps.gif) no-repeat top left;}
#apps h3#riscos{background:url(riscos.gif) no-repeat top left;}
#scripts h2.heading{background:url(scripts.gif) no-repeat top left;}
#scripts h3#python{background:url(python.gif) no-repeat top left;}
ul.links{list-style-type:disc outside;list-style-image:url(bullet.gif);}
.icon{border:1px solid #000;background:url(t1.png) no-repeat center;}
a:visited{color:#630;}
a:link,a:active{color:#f40;}