body#www-davespace-co-uk{color:#000;background-color:#ffc;background-image:url(opummu.png);}
#utterances{border-left:1px dotted #630;}
#software{border-left:1px dotted #630;background:#ffc url(paperedge.png) repeat-y right top;}
#logo h1{background:url(logo.gif) no-repeat top left;}
#news h2{background:url(news.gif) no-repeat top left;}
#news .item{border-left:1px dotted #ffc080;}
#stylesheets h2{background:url(stylesheets.png) no-repeat top left;}
#links h2{background:url(links.gif) no-repeat top left;}
#contact h2{background:url(contact.gif) no-repeat top left;}
#apps h2{background:url(apps.gif) no-repeat top left;}
#apps h3#riscos{background:url(riscos.gif) no-repeat top left;}
#scripts h2{background:url(scripts.gif) no-repeat top left;}
#scripts h3#python{background:url(python.gif) no-repeat top left;}
ul.links{list-style:disc outside;list-style-image:url(bullet.gif);}
.icon{width:68px;height:37px;border:1px solid #999;background:#ddd;margin:0;padding:.333em;}
a:link,a:active,a:hover{color:#f40;}
a:visited{color:#630;}