body#www-davespace-co-uk{font:1em/1.4 Tahoma,Arial,Helvetica,sans-serif;}
#news .item{text-indent:0;}
ul,ul.links{text-align:left;padding-left:1em;}
ul.links li{text-transform:lowercase;}
dt{font-weight:bolder;}
h1,h2,h3{text-indent:-1000em;}
a:link,a:visited,a:active{text-decoration:none;border-bottom:1px dotted;}
a:hover{text-decoration:none;border-bottom:1px solid;}