/* text */

/* font related properties,
 * line heights,
 * text aligns */

body#www-davespace-co-uk {
 font:1em/1.4 Tahoma,Arial,Helvetica,sans-serif;
}

#page {
}

#left {
}

#middle {
}

#right {
}

#left .content {
}

#middle .content {
}

#right .content {
}

#logo h1#heading {
 text-indent:-1000em;
}

#marble {
}

#news h2.heading {
 text-indent:-1000em;
}

#news .item {
 text-indent:0;
}

#stylesheets h2.heading {
 text-indent:-1000em;
}

#links h2.heading {
 text-indent:-1000em;
}

#contact h2.heading {
 text-indent:-1000em;
}

#apps h2.heading {
 text-indent:-1000em;
}

#apps h3#riscos {
 text-indent:-1000em;
}

#scripts h2.heading {
 text-indent:-1000em;
}

#scripts h3#python {
 text-indent:-1000em;
}

ul.links {
 text-align:left;
}

ul.links li {
 text-align:left;
 text-transform:lowercase;
}

dt {
 font-weight:bolder;
}

dd {
}

.icon {
}

a:link {
 text-decoration:none;
}

a:visited {
 text-decoration:none;
}

a:active {
 text-decoration:none;
}

a:hover {
 text-decoration:underline;
}

