icon: home
----

<h2>Recent Posts</h2>
{{ with .Site.Pages.Children "blog/" }}
{{ range .Slice 0 5 }}
<article class="summarised">
  <h1>{{ template "iconforpage" . }} <a href="{{ $.Rel .Url }}">{{ .Title }}</a></h1>
  {{ template "meta" . }}
  {{/* .Process runs here in case only feed changed */}}
  <section class="summarised-content">
    {{ with cut .Process.Content "<section class=\"content\">" "</section>" }}
    {{ with cut . "<!-- begin summary -->" "<!-- end summary -->" }}
    {{ . }}
    {{ end }}
    {{ end }}
    <div class="summary-post">
      <p><a href="{{ $.Rel .Url }}">Read article...</a></p>
    </div>
  </section>
</article>
{{ end }}
{{ end }}
